.inlineItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader_text{
  margin: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(11, 20, 49);
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 74px;
}
.loader div {
  position: absolute;
  top: 33px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(11, 20, 49);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.whiteColor{
  color: rgb(240, 240, 240) !important;
}

.whiteColor div{
  background: rgb(240, 240, 240) !important;
}

.loader div:nth-child(1) {
  left: 8px;
  animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: loader3 0.6s infinite;
}
@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
