.basketWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 400px;
  overflow-y: auto;
}

/* width */
.basketWrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.basketWrapper::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
.basketWrapper::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 10px;
}

/* Handle on hover */
.basketWrapper::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 77, 77); 
}

.noProduct{
  width: 100%;
  color: white;
  font-size: .9rem;
  font-weight: 500;
  text-align: center;
}

.itemInBasket{
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.itemInBasket:hover{
  background-color: #3D3D3F;
  border-bottom: 1px solid #56565a;
  border-top: 1px solid #56565a;
}

.payPart{
  background-color: #3D3D3F;
}

.productImage{
  width: 90px !important;
  height: auto;
}

.productParams{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
  width: 100%;
}

.title{
  font-size: .8rem;
  color: white;
  margin: 5px 0;
}

.cost{
  color: #B5B5B5;
  font-size: .75rem;
  margin-bottom: 15px;
}

.countWrapper{
  width: 80px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
}

.countWrapper p{
  margin: 0;
  font-size: .85rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.removeIcon{
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.removeIcon img{
  width: 100%;
  height: auto;
  transition: .3s;
}

.removeIcon img:hover{
  transform: rotate(180deg);
}

.payTitle{
  font-size: .95rem;
  font-weight: 500;
  color: white;
}

.pay{
  font-size: .85rem;
  font-weight: 500;
  color: #B5B5B5;
}

.button{
  width: 60%;
  padding: 10px 0;
  text-align: center;
  font-family: "Vazir";
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #ec407a;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  transition: .5s;
}

.button:hover{
  background-color: #df1c5d;
}