.pageWrapper{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageWrapper h2{
  margin: 10px;
  font-size: 2.5rem;
  font-weight: 600;
}

.button{
  border: 0;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #EC407A;
  color: #fdfdfd;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Vazir';
  position: relative;
  top: 0;
  transition: .8s;
}

.button:hover{
top: 5px;
background-color: #e96993;
}


@media screen and (max-width: 600px) {
  .pageWrapper h2{
    margin: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
  }
  .button{
    font-size: 1rem;
  }
}