.LayoutWrapper {
  width: 100%;
  min-height: 100%;
  height: max-content;
  position: relative;
}

.children {
  padding-bottom: 180px;
}

@media screen and (max-width: 1200px) {
  .children {
    padding-bottom: 254px;
  }
}

@media screen and (max-width: 1000px) {
  .children {
    padding-bottom: 275px;
  }
}

@media screen and (max-width: 570px) {
  .children {
    padding-bottom: 400px;
  }
}