.CategoryBox {
  width: 45%;
  margin: 20px 5px;
  border-radius: 10px;
}

.CategoryWrapper {
  width: 320px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

.catImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: sepia(85%);
  transition: 1s;
  border-radius: 10px;
}


.CategoryWrapper p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, -50%);
  background-color: rgba(26, 26, 26, .5);
  padding: 5px 10px;
  color: white;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
  border-radius: 15px 0 0 15px;
  transition: .8s;
}

.CategoryWrapper p span{
  height: 15px;
  margin: 0 5px;
}

.arrow{
  width: 15px;
  height: 15px;
}

.CategoryWrapper:hover{
  > .catImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: sepia(0);
  }
  > p {
    background-color: rgba(26, 26, 26, .85);
  }
}

@media screen and (max-width: 800px){
  .CategoryBox {
    width: 100%;
    margin: 30px 5px;
  }
}