.hasError{
  width: 100%;
  color: rgb(224, 69, 69);
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin: 50px auto;
}

.loaderWrapper{
  width: 100%;
  height: calc(100vh - 50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CatWrapper{
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.pageTitle{
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 15px 0;
  margin-right: 12%;
}