.ProductWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 15px;
}

.productBox{
  max-width: 250px;
  height: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: .4s;
  padding: 10px 15px;
  box-shadow: 1px 1px 7px #e9e9e9;
  border-radius: 3px;
}

.productsImageWrapper{
  width: 90%;
  height: auto;
  margin: 10px auto;
  position: relative;
}

.productsImageWrapper img{
  width: 100%;
  height: auto;
}

.isNew{
  width: 70px;
  padding: 5px 0;
  border: 1px solid #ec407a;
  border-radius: 50px;
  font-size: .7rem;
  font-weight: 500;
  color: #ec407a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.productTitle{
  width: 100%;
  margin-top: 5px;
}

.productTitle h5{
  font-size: .95rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.weight{
  font-size: .8rem;
  font-weight: 400;
  color: #EC407A;
}

.inlineItems{
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.money{
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 0;
  border-radius: 0 20px 20px 0;
  transition: .5s;
}

.productBox:hover{
  box-shadow: 0 2px 3px #2c2c2c;

  > .inlineItems .money{
    padding: 0 30px 0 0;
    color: white;
    background-image: linear-gradient(to right, #C50042 , #ff085a);
  }
}

.unit{
  margin: 0 5px;
  font-size: .75rem;
  font-weight: 500;
  margin-right: 5px;
}

.buy{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

}

.buy p{
  font-size: .7rem;
  font-weight: 700;
  color: #ec407a;
  margin: 0;
  white-space: nowrap;
}

.buy img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}