.headerWrapper {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #dad9d9;
  z-index: 99;
  background-color: #fdfdfd;
}

.topLine {
  width: 90%;
  padding: 0 10px;
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.userInfo {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liaLogo {
  width: 140px;
}

.menuItem {
  width: max-content;
  padding: 10px 20px;
  text-decoration: none;
  color: #bababa;
  font-size: 0.95rem;
  transition: 300ms;
}

.menuItem:hover {
  color: #ec407a;
}

.isActive {
  color: #000000;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  font-size: 0.9rem;
}

.userImage {
  width: 40px;
  border-radius: 50px;
  border: 4px solid #e1e1e1;
}

.downArrow {
  width: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.secondLine {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.filterMenu {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filtermenuItem {
  padding: 10px 0;
  margin-left: 30px;
  text-decoration: none;
  color: #202124;
  font-size: 0.95rem;
  transition: 500ms;
  position: relative;
  white-space: nowrap;
}

.filtermenuItem:hover {
  color: #ec407a;
}

.filterMenuIsActive .active {
  position: absolute;
  background-color: #ec407a;
  right: -10px;
  left: -10px;
  bottom: 0;
  height: 6px;
  opacity: 0;
  animation: chosenMenu 1s linear 0.1s forwards;
}

@keyframes chosenMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.basketWrapper {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.basketWrapper img {
  width: 25px;
  height: auto;
}

.itemInside {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 27px;
  height: 27px;
  border-radius: 15px;
  background-color: #ec407a;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.basketList {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 300px;
  background-color: #202124;
}

.arrowBox {
  position: absolute;
  width: 15px;
  height: 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #202124;
  top: 35px;
  left: 10px;
}

@media screen and (max-width: 850px) {
  .topLine {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .userInfo {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .userName {
    margin: 0 10px;
  }
  .logoWrapper {
    width: fit-content;
    margin: 0 10px;
  }
  .menuItem {
    padding: 10px;
  }
}

@media screen and (max-width: 660px) {
  .secondLine {
    width: 100%;
    padding: 10px;
  }

  .filterMenu{
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .filtermenuItem{
    width: fit-content;
    margin-left: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .menuWrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .menuItem {
    padding: 5px 50px 5px 0;
  }
}
