.footerWrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #e1e1e1;
  position: absolute;
  bottom: 0;
  background-color: #393c40;
  padding: 15px 55px;
}

.inlineItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
}

.logoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.Hline {
  width: 100%;
  height: 1px;
  background-color: #4d4d4d;
  margin-bottom: 15px;
}

.Vline {
  height: 100%;
  width: 1px;
  background-color: #4d4d4d;
}

.info {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #e0e0e0;
  margin: 0 auto;
  white-space: nowrap;
}

.info img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.logoWrapper p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
  color: white;
  margin-bottom: 10px;
}

.logoWrapper h4 {
  font-size: 1.05rem;
  font-weight: 500;
  margin: 0 10px;
  color: white;
  margin-bottom: 10px;
}

.logoBox {
  width: 50px;
}

.logoBox img {
  width: 100%;
  height: auto;
}

.inlineItems h6 {
  font-size: 0.65rem;
  font-weight: 500;
  color: #e8e8e8;
  margin: 0;
}

.socialWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socialWrapper .social,
.socialWrapper .socialF {
  width: 30px;
  height: 30px;
  margin: 5px 10px;
  border-radius: 15px;
  background-color: #3d3d3f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img {
  width: 20px;
  height: auto;
}

.socialF img {
  width: 10px;
  height: auto;
}

.copy {
  font-size: 0.7rem;
  font-weight: 500;
  color: #e8e8e8;
}

@media screen and (max-width: 1200px) {
  .infoWrapper {
    flex-direction: column;
    align-items: center;
    height: unset;
  }

  .logoWrapper{
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .footerWrapper{
    padding: 10px 15px;
  }

  .infoWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin: 10px 0;
  }

  .inlineItems{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .logoWrapper{
    justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .infoWrapper {
    flex-direction: column;
    align-items: center;
    height: unset;
  }
  .logoWrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .copy p{
    text-align: center;
  }
}
