@font-face {
  font-family: "Vazir";
  src: local("Vazir"),
    url(./Static/Fonts/Vazir/Vazir-Regular.ttf) format("truetype"),
    url(./Static/Fonts/Vazir/Vazir-Regular.woff) format("woff"),
    url(./Static/Fonts/Vazir/Vazir-Regular.woff2) format("woff2");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #fdfdfd;
}

#root {
  height: 100%;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
